@media (max-width: 768px) {
    .main-nav {
        display: none;
    }
    /* .mobile-nav-icon {
        display: inline-block;
    }
    .main-nav {
        flex-direction: column;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    } */
}